.messageCon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid gray;
    margin: 1px;
    width: 100%;
    
}
.messageCon h1 {
    padding: 2rem;
}
.msgContent{
    /* padding: 3rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    float: left;
    margin: 1rem;

}
.info {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    
}

.infopic {
    width: 2rem;
    height: 2rem;
}
.info p {
    margin-left: 0.5rem;
}

.messageBox {
    display: flex;
    margin-left: 4rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}
.msgMain {
    margin: 1rem;
    width: 98%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
