.bg-body-tertiary {
    background-color: rgb(173, 169, 169);
}

.brand {
    font-weight: bold !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    font-size: 25px !important;
    color: rgb(23, 56, 117) !important;
}
.headone{
    border-bottom: 2px solid gray;
}
.bg-body-tertiary Button {
    position: relative;
    left: -10px;
}
@media (max-width: 768px) {
    .navcon {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -20%;
    }
}