.auth {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
}

.switchBtn {
    border: none;
    background: none;
    
}

.lowerCon {
    padding: 1rem;
    padding-bottom: 0;
}